
body{
    /* background-color: #618685; */
    margin: 0;
}
.navBar{
    background-color:hwb(194 32% 8%);
    width: 100%;
    top: 0;
    height: 5%;
    display: flex;
}

.navBarText{
    margin-left: 5%;
    color: black;
    font-size: 80px;
    padding: 10px;
}


.blogCard{
    width: 70%;
    background-color: rgba(25,200,25, 1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    /* left: 50px; */
    /* justify-content: ; */
}

.blogCard:hover{
    background-color: rgba(25,200,25, 0.9);
    /* cursor: pointer; */
}


.navbarButton{
    border-radius: 20px;
    width: 80px;
    height: 60px;
    margin-top: 20px;
}

.footer{
    background-color: aqua;
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    text-align: center;
}

.footerText{
    padding: 10px;
}

.navbarButton:hover{
    cursor: pointer;
}

.navBarBackButton {
    /* float: right; */
    margin-left: 50%;
    margin-right: 10px;
    /* height:  */
}

.homePageDarkMode{
    margin-left: 56%;
}

.displayTitle{
    text-align: center;
    font-size: 40px;
}

.displayContent{
    background-color: white;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
}


.blogFormDisplay{
    width: 40%;
    background-color: rgba(25,200,25, 1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
}

.blogForm{
    /* display: flex; */
    width: 50%;
    margin: auto;
}

/* .blogForm form input{
    height: 50px;
    width: 75%;
} */

.input{
    width: 75%;
}



.blogHeader{
    margin: auto;
    width: 50%;
    /* background-color: aqua; */
    color: black;
    font-size: 40px;
}

    